* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 48, 48);
    font-family: Roboto, Arial;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 3rem;
    padding: 2.2rem;
    text-decoration: underline rgb(133, 133, 207);
    text-underline-offset: 1.8rem;
}

.conversor-container {
    margin: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversor-card {
    background: linear-gradient(70deg, rgb(29, 27, 27), rgb(40, 41, 43));
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 4.3rem 2.5rem;
    border-radius: 1.8rem;

    width: 100%;
    max-width: 700px;
}

#card-title {
    color: whitesmoke;
    font-size: 2.0rem;
}

/* Diseño input y select */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

label {
    font-size: 1.5rem;
    margin-top: 2.2rem;
    color: whitesmoke;
}

#clp-input,
#currency-select {
    width: 300px;
    color: black;
    padding: 0.4rem;
    font-size: 1rem;
    border: none;
}

/* Diseño para el focus del Monto */
.clp {
    color: rgb(107, 106, 106);
    background-color: rgb(235, 235, 235);
    padding: 0.38rem 0.4rem;
    transition: all 0.25s;
}

input:focus {
    outline: none;
}

.input-design {
    border: 2px solid gray;
    background-color: white;
    transition: border-color 0.3s;
}

.input-design:focus-within>.clp {
    background-color: rgb(75, 138, 221);
    color: whitesmoke;
}

.input-design:focus-within {
    border-color: rgb(46, 99, 199);
}

/* Diseño para el focus del Moneda a convertir */
.sign {
    color: rgb(107, 106, 106);
    background-color: rgb(235, 235, 235);
    padding: 0.39rem 1.02rem;
    transition: all 0.25s;
}

.select-design {
    border: 2px solid gray;
    background-color: white;
    transition: border-color 0.3s;

}

.select-design:focus-within>.sign {
    background-color: rgb(75, 138, 221);
    color: whitesmoke;
}

.select-design:focus-within {
    border-color: rgb(46, 99, 199);
}

/* Diseño boton  */
#converter-button {
    color: whitesmoke;
    background-color: rgb(75, 138, 221);
    border: none;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.2rem;
    padding: 0.7rem 9rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

#converter-button:hover {
    opacity: 0.7;
}

/* Diseño respuesta y error gráfico */
#result-p, #error-grafico {
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: 20px;
}

/* Código para quitarflechas en inputs de tipo number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}